article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre-wrap;word-wrap:break-word}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
button,input{line-height:normal}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}
.hll{background-color:#ffc}
.c{color:#998;font-style:italic}
.err{color:#a61717;background-color:#e3d2d2}
.k{color:#000;font-weight:bold}
.o{color:#000;font-weight:bold}
.cm{color:#998;font-style:italic}
.cp{color:#999;font-weight:bold;font-style:italic}
.c1{color:#998;font-style:italic}
.cs{color:#999;font-weight:bold;font-style:italic}
.gd{color:#000;background-color:#fdd}
.ge{color:#000;font-style:italic}
.gr{color:#a00}
.gh{color:#999}
.gi{color:#000;background-color:#dfd}
.go{color:#888}
.gp{color:#555}
.gs{font-weight:bold}
.gu{color:#aaa}
.gt{color:#a00}
.kc{color:#000;font-weight:bold}
.kd{color:#000;font-weight:bold}
.kn{color:#000;font-weight:bold}
.kp{color:#000;font-weight:bold}
.kr{color:#000;font-weight:bold}
.kt{color:#458;font-weight:bold}
.m{color:#099}
.s{color:#d01040}
.na{color:#008080}
.nb{color:#0086b3}
.nc{color:#458;font-weight:bold}
.no{color:#008080}
.nd{color:#3c5d5d;font-weight:bold}
.ni{color:#800080}
.ne{color:#900;font-weight:bold}
.nf{color:#900;font-weight:bold}
.nl{color:#900;font-weight:bold}
.nn{color:#555}
.nt{color:#000080}
.nv{color:#008080}
.ow{color:#000;font-weight:bold}
.w{color:#bbb}
.mf{color:#099}
.mh{color:#099}
.mi{color:#099}
.mo{color:#099}
.sb{color:#d01040}
.sc{color:#d01040}
.sd{color:#d01040}
.s2{color:#d01040}
.se{color:#d01040}
.sh{color:#d01040}
.si{color:#d01040}
.sx{color:#d01040}
.sr{color:#009926}
.s1{color:#d01040}
.ss{color:#990073}
.bp{color:#999}
.vc{color:#008080}
.vg{color:#008080}
.vi{color:#008080}
.il{color:#099}
@font-face{font-family:Oswald;src:url("/theme/fonts/oswald.woff");font-weight:normal;font-style:normal}
@font-face{font-family:entypo;src:url("/theme/fonts/entypo.woff");font-weight:normal;font-style:normal}
[data-icon]:before{font-family:entypo;content:attr(data-icon);speak:none;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased}
.s-icon-github:before,.s-icon-twitter:before,.s-icon-cc:before,.s-icon-cc-by:before,.s-icon-cc-sa:before,.s-icon-mail:before,.s-icon-flattr:before,.s-icon-rss:before{font-family:entypo;speak:none;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased}
.s-icon-github:before{content:"\e002"}
.s-icon-twitter:before{content:"\e004"}
.s-icon-cc:before{content:"\e000"}
.s-icon-cc-by:before{content:"\e001"}
.s-icon-cc-sa:before{content:"\e003"}
.s-uicon-mail:before{content:"\e005"}
.s-icon-flattr:before{content:"\e006"}
.s-icon-rss:before{content:"\e007"}
#error-content{font-family:Oswald;width:380px;height:220px;margin:auto;margin-top:30%;color:#d46d24;background:#463d39;border-radius:10px;border:1px solid #8f7e76;box-shadow:0 0 20px #000;padding:10px;}
#error-content header{margin:auto;text-align:center;font-size:2.4em;color:#fff;text-shadow:0 0 10px #fff;padding-top:5px;padding-bottom:5px;border-bottom:1px solid #8f7e76}
/*
+---------------------------------------------------------------------+
|        _                               _         _                  |
|       | |_  _   _  _ __    ___  _ __  | |  __ _ | |_  ___           |
|       | __|| | | || '_ \  / _ \| '_ \ | | / _` || __|/ _ \          |
|       | |_ | |_| || |_) ||  __/| |_) || || (_| || |_|  __/          |
|        \__| \__, || .__/  \___|| .__/ |_| \__,_| \__|\___|          |
|             |___/ |_|          |_|                                  |
|                                                                     |
|                                                                     |
| URL: http://typeplate.com                                           |
| VERSION: 1.0.1                                                      |
| Github: https://github.com/typePlate/typeplate.github.com           |
| AUTHORS: Zachary Kain (@zakkain) & Dennis Gaebel (@gryghostvisuals) |
| LICENSE: Creative Commmons                                          |
| http://creativecommons.org/licenses/by/3.0                          |
|                                                                     |
+---------------------------------------------------------------------+
*/
@font-face{font-family:Ampersand;src:local('Georgia'),local('Garamond'),local('Palatino'),local('Book Antiqua');unicode-range:U+0026}
@font-face{font-family:Ampersand;src:local('Georgia');unicode-range:U+270C}
html{font:normal 112.5%/1.65 serif}
body{-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;-o-hyphens:auto;hyphens:auto;word-wrap:break-word;color:#444}
.tera{font-size:117px;font-size:6.5 rem;margin-bottom:.25384615384615383 rem}
.giga{font-size:90px;font-size:5 rem;margin-bottom:.33 rem}
.mega{font-size:72px;font-size:4 rem;margin-bottom:.4125 rem}
.alpha,h1{font-size:60px;font-size:3.3333333333333335 rem;margin-bottom:.495 rem}
.beta,h2{font-size:48px;font-size:2.6666666666666665 rem;margin-bottom:.61875 rem}
.gamma,h3{font-size:36px;font-size:2 rem;margin-bottom:.825 rem}
.delta,h4{font-size:24px;font-size:1.3333333333333333 rem;margin-bottom:1.2375 rem}
.epsilon,h5{font-size:21px;font-size:1.1666666666666667 rem;margin-bottom:1.4142857142857141 rem}
.zeta,h6{font-size:18px;font-size:1 rem;margin-bottom:1.65 rem}
h1{text-rendering:optimizeLegibility;line-height:1;margin-top:0}
h2{text-rendering:optimizeLegibility;line-height:1;margin-top:0}
h3{text-rendering:optimizeLegibility;line-height:1;margin-top:0}
h4{text-rendering:optimizeLegibility;line-height:1;margin-top:0}
h5{text-rendering:optimizeLegibility;line-height:1;margin-top:0}
h6{text-rendering:optimizeLegibility;line-height:1;margin-top:0}
p{margin:0 0 1.5em;}
p + p{text-indent:1.5em;margin-top:-1.5em}
abbr,acronym,blockquote,code,dir,kbd,listing,plaintext,q,samp,tt,var,xmp{-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;-o-hyphens:none;hyphens:none}
pre code{word-wrap:normal;white-space:-moz-pre-wrap;white-space:pre-wrap}
pre{white-space:pre}
code{white-space:pre;font-family:monospace}
abbr{font-variant:small-caps;font-weight:600;text-transform:lowercase;color:#808080;}
abbr:hover{cursor:help}
h1,h2,h3,h4,h5,h6{color:#222}
.lining dt,.lining dd{display:inline;margin:0}
.lining dt + dt:before,.lining dd + dt:before{content:"\A";white-space:pre}
.lining dd + dd:before{content:", "}
.lining dd:before{content:": ";margin-left:-.2rem}
.dictionary-style dt{display:inline;counter-reset:definitions;}
.dictionary-style dt + dt:before{content:", ";margin-left:-.2rem}
.dictionary-style dd{display:block;counter-increment:definitions;}
.dictionary-style dd:before{content:counter(definitions,decimal) ". "}
.stats-tabs{padding:0;}
.stats-tabs li{display:inline-block;margin:0 .625rem 0 0;padding:0 .625rem 0 0;border-right:.125rem solid #ccc;}
.stats-tabs li:last-child{margin:0;padding:0;border:none}
.stats-tabs li a{display:inline-block;font-size:1.5rem;font-weight:bold;}
.stats-tabs li a b{display:block;margin:.125rem 0 0 0;font-size:.875rem;font-weight:normal}
.pull-quote{position:relative;padding:1em;}
.pull-quote:before,.pull-quote:after{height:1em;opacity:.15;position:absolute;font-size:4em}
.pull-quote:before{content:'“';top:0;left:0}
.pull-quote:after{content:'”';bottom:0;right:0}
html{height:100%}
body{height:100%;margin:0;padding:0;background:url("/theme/images/grid.png")}
#banner{font-size:1.2em;background:#463d39;border-bottom:12px solid #d46d24;}
#banner h1{font-family:Oswald;margin:auto;margin-top:0;padding:10px;padding-left:0;width:70%;max-width:960px}
#banner a{text-decoration:none;text-transform:uppercase;color:#d46d24;transition-property:color;transition-duration:.7s;transition-timing-function:ease-in-out;}
#banner a strong{color:#8f7e76;margin-top:0;font-size:.7em;transition-property:color;transition-duration:.7s;transition-timing-function:ease-in-out}
#banner a:hover{color:#ffaf61;}
#banner a:hover strong{color:#cdbdb5}
#menu{width:70%;max-width:960px;margin:auto;margin-top:-85px;margin-bottom:105px;padding-top:20px;text-transform:uppercase;font-family:Oswald;font-size:1.2em;}
#menu ul{float:right;}
#menu ul li{display:inline}
#menu a{text-decoration:none;padding-top:115px;padding-left:6px;padding-right:6px;padding-bottom:5px;color:#8f7e76;border-radius:3px;transition-property:background,color,text-shadow;transition-duration:.7s;transition-timing-function:ease-in-out}
#menu .active a,#menu a:hover{background-color:#8f7e76;color:#d46d24;text-shadow:0 0 6px #463d39}
#content{position:relative;text-align:justify;min-height:100%;max-width:960px;width:70%;margin:auto;padding-bottom:30px;}
#content h1,#content h2,#content h3,#content h4,#content h5,#content h6{font-family:Oswald;text-transform:uppercase}
#content h1{color:#463d39}
#content h2{color:#463d39}
#content h3{color:#8f7e76}
#content ol{list-style-type:none}
#content .entry-title a{text-decoration:none;text-transform:uppercase;color:#d46d24;transition-property:color;transition-duration:.3s;transition-timing-function:ease-in-out;}
#content .entry-title a:hover{color:#963000}
#content .post-info a,#content .entry-content a{color:#d46d24;padding-left:1px;padding-right:1px;border-radius:3px;transition-property:text-shadow,background,color;transition-duration:.3s;transition-timing-function:ease-in-out;}
#content .post-info a:hover,#content .entry-content a:hover{color:#fff;background:#d46d24;text-decoration:none;text-shadow:0 0 3px #fff}
#content .highlight{background:#eee;margin-bottom:30px;padding-left:10px;padding-right:10px;border-radius:5px;border:1px solid #d46d24}
#content #post-list li .hentry{margin-bottom:20px;border-bottom:1px solid #463d39}
#content #post-list li:last-child .hentry{border:none}
#content .align-middle{vertical-align:middle}
#contentinfo{font-family:Oswald;background:#463d39;color:#8f7e76;padding-bottom:10px;text-align:center;}
#contentinfo a{color:#d46d24;padding-left:1px;padding-right:1px;border-radius:3px;transition-property:text-shadow,background,color;transition-duration:.3s;transition-timing-function:ease-in-out;}
#contentinfo a:hover{color:#fff;background:#d46d24;text-decoration:none;text-shadow:0 0 3px #fff}
#contentinfo #bottom-links a,#contentinfo #credits a{margin:1em;font-size:2em;color:#8f7e76;text-decoration:none;background:none;transition-property:text-shadow,color;transition-duration:.3s;transition-timing-function:ease-in-out;}
#contentinfo #bottom-links a:hover,#contentinfo #credits a:hover{color:#fff;text-shadow:0 0 3px #fff}
#contentinfo #credits a{font-size:1.4em;margin:.2em;vertical-align:middle}
#contentinfo #bottom-links{background:#d46d24;}
#contentinfo #bottom-links a{color:#463d39}
