#error-content
    font-family: titlefont
    width: 380px
    height: 220px
    margin: auto
    margin-top: 30%
    color: linkhovercolor
    background: bannercolor
    border-radius: 10px
    border: 1px solid linkcolor
    box-shadow: 0 0 20px black
    padding: 10px
    header
        margin: auto
        text-align: center
        font-size: 2.4em
        color: white
        text-shadow: 0 0 10px white
        padding-top: 5px
        padding-bottom: 5px
        border-bottom: 1px solid linkcolor
