@font-face
    font-family: Oswald
    src: url(/theme/fonts/oswald.woff)
    font-weight: normal
    font-style: normal
    
@font-face
    font-family: entypo
    src: url(/theme/fonts/entypo.woff)
    font-weight: normal
    font-style: normal

[data-icon]:before
  font-family: entypo
  content: attr(data-icon)
  speak: none
  font-weight: normal
  line-height: 1
  -webkit-font-smoothing: antialiased

.icon-github:before, .icon-twitter:before, .icon-cc:before, .icon-cc-by:before, .icon-cc-sa:before, .icon-mail:before, .icon-flattr:before
  font-family: entypo
  speak: none
  font-style: normal
  font-weight: normal
  line-height: 1
  -webkit-font-smoothing: antialiased

.icon-github:before
    content: "\e002"

.icon-twitter:before
    content: "\e004"

.icon-cc:before
    content: "\e000"

.icon-cc-by:before
    content: "\e001"

.icon-cc-sa:before
    content: "\e003"

.icon-mail:before
    content: "\e005"

.icon-flattr:before
    content: "\e006"
