@font-face
    font-family: Oswald
    src: url(/theme/fonts/oswald.woff)
    font-weight: normal
    font-style: normal
    
@font-face
    font-family: entypo
    src: url(/theme/fonts/entypo.woff)
    font-weight: normal
    font-style: normal

[data-icon]:before
  font-family: entypo
  content: attr(data-icon)
  speak: none
  font-weight: normal
  line-height: 1
  -webkit-font-smoothing: antialiased

.s-icon-github:before, .s-icon-twitter:before, .s-icon-cc:before, .s-icon-cc-by:before, .s-icon-cc-sa:before, .s-icon-mail:before, .s-icon-flattr:before, .s-icon-rss:before
  font-family: entypo
  speak: none
  font-style: normal
  font-weight: normal
  line-height: 1
  -webkit-font-smoothing: antialiased

.s-icon-github:before
    content: "\e002"

.s-icon-twitter:before
    content: "\e004"

.s-icon-cc:before
    content: "\e000"

.s-icon-cc-by:before
    content: "\e001"

.s-icon-cc-sa:before
    content: "\e003"

.s-uicon-mail:before
    content: "\e005"

.s-icon-flattr:before
    content: "\e006"

.s-icon-rss:before
    content: "\e007"
