bannercolor = #463d39
linkcolor = lighten(bannercolor, 35%)
linkhovercolor = #d46d24
sitetitlecolor = linkhovercolor
menupadding = 85px
titlefont = Oswald 

@import "normalize"
@import "pygment"
@import "font"
@import "404"
@import "typeplate"

linkstyle()
    a
        color: linkhovercolor
        padding-left: 1px
        padding-right: 1px
        border-radius: 3px
        transition-property: text-shadow, background, color
        transition-duration: 0.3s
        transition-timing-function: ease-in-out 
        &:hover 
            color: white
            background: linkhovercolor
            text-decoration: none
            text-shadow: 0 0 3px white

titlestyle()
    a
        text-decoration: none
        text-transform: uppercase
        color: linkhovercolor
        transition-property: color
        transition-duration: 0.3s
        transition-timing-function: ease-in-out
        &:hover
            color: saturate(darken(linkhovercolor, 50%), 100%)

html
    height: 100%

body
    height: 100%
    margin: 0
    padding: 0
    background: url(/theme/images/grid.png)

#banner
    font-size: 1.2em
    background: bannercolor
    border-bottom: 12px solid sitetitlecolor
    h1
        font-family: titlefont
        margin: auto
        margin-top: 0
        padding : 10px
        padding-left : 0
        width: 70%
        max-width: 960px
    a
        text-decoration: none
        text-transform: uppercase
        color: sitetitlecolor
        transition-property: color
        transition-duration: 0.7s
        transition-timing-function: ease-in-out
        strong
            color: linkcolor
            margin-top: 0
            font-size: 0.7em
            transition-property: color
            transition-duration: 0.7s
            transition-timing-function: ease-in-out
        &:hover
            color: saturate(lighten(sitetitlecolor,50%), 100%)
            strong
                color: saturate(lighten(linkcolor, 50%), 100%)


#menu
    width: 70%
    max-width: 960px
    margin: auto
    margin-top : - menupadding 
    margin-bottom: menupadding + 20px
    padding-top: 20px
    text-transform: uppercase
    font-family: titlefont
    font-size: 1.2em
    ul
        float: right
        li
            display: inline
    a
        text-decoration: none
        padding-top: menupadding + 30px
        padding-left: 6px
        padding-right: 6px
        padding-bottom: 5px
        color: linkcolor
        border-radius: 3px
        transition-property: background, color, text-shadow
        transition-duration: 0.7s
        transition-timing-function: ease-in-out
    .active a, a:hover 
        background-color: linkcolor
        color: linkhovercolor
        text-shadow: 0 0 6px bannercolor

#content
    position: relative
    text-align: justify
    min-height: 100%
    max-width: 960px
    width: 70%
    margin: auto
    padding-bottom: 30px
    h1, h2, h3, h4, h5, h6
        font-family: titlefont
        text-transform: uppercase
    h1
        color: bannercolor
    h2
        color: bannercolor
    h3
        color: linkcolor
    ol
        list-style-type: none
    .entry-title
            titlestyle()
        .post-info, .entry-content 
            linkstyle()
    .highlight
        background: #eee
        margin-bottom: 30px
        padding-left: 10px
        padding-right: 10px
        border-radius: 5px
        border: 1px solid sitetitlecolor
    #post-list
        li
            .hentry
                margin-bottom: 20px
                border-bottom: 1px solid bannercolor
            &:last-child
                .hentry
                    border: none
    .align-middle
        vertical-align: middle


#contentinfo
    font-family: titlefont
    linkstyle()
    background: bannercolor
    color: linkcolor
    padding-bottom: 10px
    text-align: center
    #bottom-links, #credits
        a
            margin: 1em
            font-size: 2em
            color: linkcolor
            text-decoration: none
            background: none
            transition-property: text-shadow, color
            transition-duration: 0.3s
            transition-timing-function: ease-in-out
            &:hover    
                color: white
                text-shadow: 0 0 3px white
    #credits
        a
            font-size: 1.4em
            margin: 0.2em
            vertical-align: middle
    #bottom-links
        background: linkhovercolor
        a
            color: bannercolor
