bannercolor = #463D39
linkcolor = lighten(bannercolor, 45%)
linkhovercolor = #DF013A
sitetitlecolor = darken(bannercolor, 45%)
menupadding = 85px
titlefont = Oswald 

@import "normalize"
@import "pygment"
@import "font"
@import "404"

linkstyle()
    a
        color: linkhovercolor
        padding-left: 1px
        padding-right: 1px
        &:hover 
            color: white
            background: linkhovercolor
            text-decoration: none
            text-shadow: 0 0 3px white
            border-radius: 3px
            transition-property: text-shadow, background, color
            transition-duration: 0.2s
            transition-timing-function: ease-in-out 

titlestyle()
    a
        font-size: 1em
        text-decoration: none
        text-transform: uppercase
        color: linkhovercolor
        &:hover
            color: lighten(linkhovercolor, 5%)
            text-shadow: 1px -1px 1px darken(linkhovercolor, 40%)
            transition-property: text-shadow, color
            transition-duration: 0.2s
            transition-timing-function: ease-in-out 

html
    height: 100%

body
    height: 100%
    margin: 0
    padding: 0
    background: url(/theme/images/grid.png)

#banner
    font-size: 1.2em
    background: bannercolor
    box-shadow: 0 6px 10px 3px rgba(red(darken(bannercolor, 70%)),green(darken(bannercolor, 70%)),blue(darken(bannercolor, 70%)),0.7)
    border-bottom: 2px solid sitetitlecolor
    h1
        font-family: titlefont
        margin: auto
        margin-top: 0
        padding : 10px
        padding-left : 0
        width: 70%
        max-width: 960px
    a
        text-decoration: none
        text-transform: uppercase
        color: sitetitlecolor
        strong
            color: linkcolor
            margin-top: 0
            font-size: 0.7em
        &:hover
            color: lighten(sitetitlecolor, 5%)
            text-shadow: 0 0 16px lighten(sitetitlecolor, 40%)
            transition-property: text-shadow, color
            transition-duration: 0.2s
            transition-timing-function: ease-in-out
            strong
                color: lighten(linkcolor, 10%)
                text-shadow: 0 0 16px lighten(linkcolor, 40%)
                transition-property: text-shadow, color
                transition-duration: 0.2s
                transition-timing-function: ease-in-out


#menu
    width: 70%
    max-width: 960px
    margin: auto
    margin-top : - menupadding 
    margin-bottom: menupadding + 30 px
    padding-top: 20px
    text-transform: uppercase
    font-family: titlefont
    font-size: 1.2em
    ul
        float: right
        li
            display: inline
    a
        text-decoration: none
        padding-top: menupadding
        padding-left: 6px
        padding-right: 6px
        padding-bottom: 3px
        color: linkcolor
        border-radius: 3px
    .active a, a:hover 
        background-color: linkcolor 
        color: linkhovercolor
        transition-property: background, color
        transition-duration: 1s
        transition-timing-function: ease-in-out

#content
    position: relative
    text-align: justify
    min-height: 100%
    max-width: 960px
    width: 70%
    margin: auto
    padding-bottom: 30px
    h1, h2, h3, h4, h5, h6
        font-family: titlefont
        color: sitetitlecolor
        text-transform: uppercase
    ol
        list-style-type: none
    .entry-title
            titlestyle()
        .post-info, .entry-content 
            linkstyle()
    .highlight
        background: #1A1A1A
        color: white
        padding: 10px
        margin: 0
        border-radius: 3px
        border: 1px solid sitetitlecolor
    #post-list
        li
            .hentry
                border-bottom: 1px solid sitetitlecolor
            &:last-child
                .hentry
                    border: none
    .align-middle
        vertical-align: middle


#contentinfo
    font-family: titlefont
    linkstyle()
    background: bannercolor
    color: linkcolor
    border-top: 2px solid sitetitlecolor
    padding-top: 10px
    padding-bottom: 10px
    text-align: center
    .social-links, #credits
        a
            margin: 1em
            font-size: 2em
            color: linkcolor
            text-decoration: none
            background: none
            &:hover    
                color: white
                text-shadow: 0 0 3px white
                transition-property: text-shadow, color
                transition-duration: 0.2s
                transition-timing-function: ease-in-out
    #credits
        a
            font-size: 1em
            margin: 0.2em
